<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>
    <h1><%= title %></h1>
    <p>Hi this is <%= name %> I am learning node.js</p>
  </body>
</html>
